<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastro de agendamento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <div class="form-group">
                    <label for="campo-pet" class="form-label">Pet</label>
                    <select id="campo-pet" class="form-select"></select>
                </div>

                <div class="form-group">
                    <label for="campo-veterinario" 
                        class="form-label">Veterinario</label>
                    <select id="campo-veterinario" class="form-select"></select>
                </div>

                <div class="form-group">
                    <label for="campo-procedimento"
                           class="form-label">Procedimento</label>
                    <input type="text" id="campo-procedimento"
                        class="form-control"/>
                </div>

                <div class="form-group">
                    <label for="campo-data-hora-prevista"
                           class="form-label">Data Hora Prevista</label>
                    <input type="datetime-local" id="campo-data-hora-prevista"
                           class="form-control" />
                </div>

                <div class="form-group">
                    <label for="campo-valor"
                           class="form-label">Valor</label>
                    <input type="number" id="campo-valor"
                           class="form-control" />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="botao-cadastrar-consulta">Agendar</button>
            </div>
        </div>
    </div>
</div>
