<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Cadastrar
</button>

<partial name="CadastroModal"/>

@section Scripts{
    <script src="~/js/consulta/consulta-cadastro.js"></script>
}