<div class="modal fade" id="cadastroVeterinarioModal" tabindex="-1" aria-labelledby="cadastroVeterinarioModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cadastroVeterinarioModalLabel">Cadastro de Veterinarário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-2">
                    <label for="cadastroVeterinarioModalNome" class="form-label">Nome <span class="text-danger">*</span></label>
                    <input type="text" id="cadastroVeterinarioModalNome" class="form-control"/>
                </div>
                <div>
                    <label for="cadastroVeterinarioModalCrmv" class="form-label">CRMV <span class="text-danger">*</span></label>
                    <input type="text" id="cadastroVeterinarioModalCrmv" class="form-control"/>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i> Cancelar</button>
                <button type="button" class="btn btn-primary" id="cadastroVeterinarioModalSalvar"><i class="fa-solid fa-floppy-disk"></i> Cadastrar</button>
            </div>
        </div>
    </div>
</div>