@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo!</h1>
    <h2>Clinica Veterinária 2 Irmãos</h2>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiLvU5Ggr0Vmz_f7fmHl2XhW0qVVKGRYOCOL1SvEUyOYnHotUnMGzdNFJzTC4MUt-yevw&usqp=CAU" />
</div>
