@model RacaCadastrarViewModel

@{
    var especies = ViewBag.Especies as List<string>;
    especies.Add(string.Empty);

    var selectDasEspecies = new SelectList(especies, string.Empty);
}

<form asp-action="cadastrar" method="POST">
    <div>
        <label asp-for="Nome" class="form-label" span-required=""></label>
        <input asp-for="Nome" class="form-control"/>
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Especie" class="form-label" span-required=""></label>
        <select asp-for="Especie" asp-items="selectDasEspecies"
                class="form-select">
        </select>
        <span asp-validation-for="Especie" class="text-danger"></span>
    </div>

    <div class="text-end">
        <a asp-action="Index" class="btn btn-outline-danger">
            <i class="fa-solid fa-xmark"></i> Cancelar
        </a>
        <button type="submit" class="btn btn-success">
            <i class="fa-solid fa-floppy-disk"></i> Salvar
        </button>
    </div>
</form>