<h3>Cadastro de Raça</h3>

<form action="registrar" method="get">
    <div>
        <label for="campo_nome">Nome:</label>
        <input type="text" id="campo_nome" name="nome" />
    </div>
    <div>
        <label for="campo_especie">Espécie:</label>
        <select id="campo_especie" name="especie">
            <option value="Cachorro">Cachorro</option>
            <option value="Gato">Gato</option>
        </select>
    </div>
    <div>
        <button type="submit">Salvar</button>
    </div>
</form>